h1 {
    font-size: 50px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    background-color: blue;
    color: cornsilk;
}

.recipes {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.steps#first{
    font-weight: bold;
}

ol #first{
    font-weight: bold;
}

img {
    height: auto;
    width: 500px;
}
